<!DOCTYPE thml>
<hmtl>
  <head>
      <meta charset="utf-8">
      <title> Projects </title>
  </head>
  <body>
    {{> header}}
    <p> <h3> List of My Friends</h3>  </p>
    <p>
      <ul>
          <li>Pallavi (Pagali)</li>
          <li>Manish (Monkey)</li>
      </ul>
    </p>
    {{> footer}}
  </body>
</html>
